.header{
  padding: 34px 0;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  background-color: #fff;
  
}
.header__inner{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo{
  width: 255px;
  height: 32px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.header__logo::before{
  content: '';
  position: absolute;
  width: 207px;
  height: 39px;
  background-image: url('../../assets/logo/logo-driwings.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  left: 88%;
  top: 50%;
  transform: translateY(-50%) rotate(2.16deg);
}